.app-wrapper {
  margin: 0 auto;
  display: grid;
  grid-template-areas:
    "header header header header "
    "nav content content content  ";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 5fr 5fr 5fr;
  width: 90vw;
}

.app-wrapper-content {
  grid-area: content;
  background-color: lightslategrey;
}

.list li a {
  color: black;
}
.list li a:hover {
  color: goldenrod;
}

.flex {
  flex: 0 0 100%;
}
.link-name {
  color: black;
}
.link-name:hover {
  color: goldenrod;
}
.mainDiv{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.addToCart {
  margin-left: 10px;
}
